.list_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border-radius: 0.5em;
}

.split {
  margin: 0.2em;
  width: 100%;
  display: flex;
}

.split > div {
  flex: 1;
  padding: 0.5em;
}

img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.character_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.topIcons {
  display: flex;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.status {
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
}

.status:hover {
  background-color: #6f6a6a;
}

.alive {
  background-color: #35f205;
}

.unknown {
  background-color: #b6b3aa;
}

.dead {
  background-color: #e90b0b;
}

.notification {
  margin: auto;
  width: 50%;
  text-align: center;
  width: 20%;
  border-radius: 0.5rem;
  padding: 0.4rem;
  background-color: #e90b0b;
  color: #ffffff;
  font-size: 1rem;
  animation-duration: 0.5s;
}
