.list_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.character_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.status {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
}

.status:hover {
  background-color: #6f6a6a;
}

.alive {
  background-color: #35f205;
}

.unknown {
  background-color: #b6b3aa;
}

.dead {
  background-color: #e90b0b;
}

.notification {
  margin: auto;
  width: 50%;
  text-align: center;
  width: 20%;
  border-radius: 0.5rem;
  padding: 0.4rem;
  background-color: #e90b0b;
  color: #ffffff;
  font-size: 1rem;
  animation-duration: 0.5s;
}
