.filter_section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  margin-right: 1rem;
  width: 5%;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 10px;
}
