.filter_section {
  display: flex;
  align-items: center;
}

.filter_buttons {
  display: flex;
  flex-wrap: wrap;
}

.option_filter {
  margin: 0.5rem;
}

.title {
  width: 2%;
  font-size: 0.7rem;
}

ul {
  list-style-type: none;
}
